.about_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.about_content span {
    color: #D0ADF0;
}

.about_content a  {
    display: block;
    margin-top: 15px;
    padding: 2px;
    width: 120px;
}