.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}


.search_form {
    max-width: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.search_form input {
    width: 50%;
    height: 24px;
    border: none;
}

.noposts {
    text-align: center;
}

.noposts a {
    display: block;
    margin-top: 30px;
    padding: 2px;
    width: 120px;
}

.noposts p {
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}

.post-list {
    display: flex;
    align-items: center;
    justify-content: center;

}

.poste-list h2 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}


@media (max-width: 800px) {
    .search_form {
    margin: 0;
    padding: 0;
    }
    }