.register {
    text-align: center;

}

/* .register > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

register p {
    color: #aaa;
} */