.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    box-shadow: 0 10px 3px -9px rgba(255, 255, 255, 0.318);
}

.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
    list-style: none;
    background-color: #242424;
    padding: 0;
    box-shadow: 0 10px 3px -9px rgba(255, 255, 255, 0.318);
    transition: 1s ease;
}

.brand span:hover {
    box-shadow: 0 0px 3px -9px rgba(255, 255, 255, 0.318);
}

.links_list {
    display: flex;
    list-style: none;
}
.links_list li {
    display: flex;
    list-style: none; 
    margin-right: 1em;
    
}

nav ul li a:not(.active):hover {
    background-color: rgba(240, 255, 255, 0.131);
}

.links_li a {
    padding: .4em .6em;
    display: block;
}

.active {
    background-color: white;
    color: blueviolet;
  }
  

 .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
  }

  .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
  }

  @media (max-width: 580px) {
    .menu {
        display: flex;
        margin: 0;
    }
    .navbar {
        flex-direction: column;
        align-items: start;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        align-items: center;
        justify-content: center;
    }
    .navbar ul.open {
        display: flex;
        padding: 0;
    }
    .links_list ul li {
        width: 100%;
        text-align: center;
    }

   .links_list > li > a {
        margin: 0.2rem 0.5rem;
        width: 100%;
        font-size: 18px;
    }
    .form {
        padding: 0px 30px 52px 30px;
        max-width: 0;
    }
    .footer {
        height: auto;
    }

  }