:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
} 

input:focus,
textarea:focus {
  outline: none;
}
a, nav button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 2px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  transition: 1s ease;
  text-decoration: none !important;
}

/* ALL FORMS */

form {
  max-width: 50%;
  margin: 0 auto;
  box-shadow: 0 12px 10px -3px rgba(255, 255, 255, 0.185);
  padding: 0px 70px 100px 70px;
  border-radius: 6px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
  padding: 10px;
}

label span {
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  padding:  10px;
  background-color: trans;
}

input::placeholder,
textarea::placeholder {
  color: #AAA;
  margin-left: 4px;
}

.btn {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.075);
  padding: 2px;
  width: 120px;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  transition: 1s ease;
  text-decoration: none !important;
  margin-top: 6px;
  text-align: center;
}

.btn:hover {
  background-color: #3B3B3B;
}

.btn.btn-dark {
  border-radius: 0px 8px 8px 0px;
  border: 1px solid transparent;
  padding: 2px;
  width: 120px;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  transition: 1s ease;
  text-decoration: none !important;
  margin-top: auto;
  text-align: center;
  height: 24px;
}

.btn.btn-outline {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.075);
  padding: 2px;
  width: 120px;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  transition: 1s ease;
  text-decoration: none !important;
  margin-top: 6px;
  text-align: center;
}

/* .btn:hover {
  background-color: #0f730c;
  color: #fff;
} */

.btn.btn-outline:hover {
  background-color: #3B3B3B;
}

.btn.btn-danger {
  padding: 2px;
  width: 120px;
  margin-top: 6px;
  height: 34px;
}

.btn.btn-danger:hover {
  background-color: #dc3545;
}

button[disabled] {
  background-color: #aaa;
}

.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 499px) {
  .form{
    max-width: 100%;
  }
  
}